
#SearchBox .text-field {
    -fx-background-color: white;
    -fx-background-insets: 1;
    -fx-background-radius: 15;
    -fx-padding: -9 5 -11 0;
    -fx-border-image-source: url("images/search-box.png");
    -fx-border-image-slice: 12 12 12 22 fill;
    -fx-border-image-width: 12 12 12 22;
    -fx-border-image-repeat: stretch; 
    -fx-font-size: 13px;
    -fx-prompt-text-fill: grey;
}
#SearchBox .text-field:focused {
    -fx-background-color: -fx-focus-color, white;
    -fx-background-insets: -1.4, 1;
    -fx-background-radius: 14.4;
}
#SearchBox .button {
    -fx-background-color: null;
    -fx-background-image: url("images/search-clear.png");
}
#SearchBox .button:hover {
    -fx-background-image: url("images/search-clear-over.png");
}
#SearchBox .search-menu-item {
    -fx-border-color: transparent transparent transparent #bbbbbb;
    -fx-border-insets: 0 0 0 69;
    -fx-padding: 4 5 4 -64;
}
#SearchBox .search-menu-item:selected , .search-menu-item:hover , .search-menu-item:focused {
    -fx-border-color: transparent transparent transparent derive(-fx-focus-color,30%);
}
#SearchBox .search-menu-item-popup-region { -fx-opacity: 0; }
#SearchBox .search-menu-item:hover .search-menu-item-popup-region , .search-menu-item:focused .search-menu-item-popup-region {
    -fx-opacity: 100%;
}
#search-info-box {
    -fx-padding: -30 -6 -8 -2;
    -fx-border-image-source: url("images/info-tooltip.png");
    -fx-border-image-slice: 34 20 12 12 fill;
    -fx-border-image-width: 34 20 12 12;
    -fx-border-image-repeat: stretch;
}
#search-info-name {
    -fx-text-fill: white;
}
#search-info-description {
    -fx-padding: 5 0 5 0;
    -fx-text-fill: white;
}
#SearchBox .group-label {
    -fx-text-fill: #666666;
    -fx-font-size: 11px;
    -fx-padding: 2 10 0 0;
}
#SearchBox .search-menu-item:selected .group-label, .search-menu-item:hover .group-label, .search-menu-item:focused .group-label{
    -fx-text-fill: white;
}